body {
    background-color: #f2e9e2;
}

.card {
    background-color: white;
    
    display: flex;
    width: 500px;
    height: 450px;
    border: 5px solid black;
    margin:auto
}

.photo-side {

}

.text-side {
     
}