body {
    background-color: #f2e9e2;
}

.card {
    background-color: white;
    display: flex;
    width: 500px;
    height: 400px;
    margin-left: 30%;
    margin-top:7%;   
    border-radius: 10px; 
}

.photo-side {
width: 500px;
height: 400px;
position: relative;
}

.img-product {
    width: 100%;
    height: 100%;   
    border: 1px solid #f2e9e2;
    border-radius: 15px 0 0 15px;
}

.text-side {
    width: 500px;
    height: 400px;
    background-color: white;
    position: relative;
    border: 1px solid white;
    border-radius: 0 15px 15px 0;
}

h1 {
    font-family:'Montserrat', sans-serif;
    padding-top: 10%;
    font-size: 14px;
    text-align:left;
    padding-left: 20px;
    padding-right: 25px;
}

.style-h1 {
    text-transform: uppercase;
    color: #8f9097;
    font-size: 11px;   
}

.style-b {
    font-weight: bold;
    font-size: 25px;
    font-family:'Fraunces', serif;
}

.style-h1-2 {
    color: #8f9097;   
}

.style-price {
    color: #41836b;
    font-family:'Fraunces';
    font-weight: bold;
    font-size: 24px;
    padding-top: 40px;
}

.style-price-2 {
    color: #8f9097;
    text-decoration: line-through;
    margin-left: 40%;
    margin-top: -18%;
}

h2 {
    padding-top: 40px;
    padding-left: 15px;   
}

button {
    border: none;
    padding: 10px 30px 10px 30px;
    background-color: #41836b;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu';
    margin-right: 10px;
    border-radius: 10px;  
}

.cart-image {
    width: 10%;
    margin-right: 5px;
    margin-top: 2px;
}